  
  <div class="container">
      <div class="card my-4 col-4 align-self-center">
          <div class="card-header  position-relative mt-n4 mx-3 z-index-2 border border-dark border-1 mt-5">
            <h2>Editar  <%= resource_name.to_s.humanize %></h2>
          </div>

          <div class= "mt-5 container">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "admins/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Atualmente aguardando confirmação para: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :senha %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <br />
              <% end %>
            </div>

            <div class="field">
              <%= f.label :Confirmar_senha %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :Senha_atual %><br />
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>

            <div class="actions">
              <%= f.submit "Atualizar", class: "btn btn-outline-dark mt-4" %>
            </div>
          <% end %>

          <h3>Cancelar minha conta</h3>

          <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete %>

          <div class="btn btn-outline-dark mt-4 m-3">
            <%= link_to "Voltar", :back %>
          </div>
        </div>
      </div>
    </div>
  </div>
