  <main class="main-content mt-3">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('../assets/img/illustrations/illustration-signup.jpg'); background-size: cover;">
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
              <div class="card card-plain bg-gradient-light ">
                <div class="card-header">
                  <h4 class="font-weight-bolder">Editar</h4>
                </div>
                <div class="card-body">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "admins/shared/error_messages", resource: resource %>

                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Email</label>
                      <%= f.email_field :email,class:"form-control", autofocus: true, autocomplete: "email", :required => true%>
                    </div>

                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Atualmente aguardando confirmação para: <%= resource.unconfirmed_email %></div>
                      <% end %>

                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Senha</label>
                      <%= f.password_field :password,class:"form-control", autocomplete: "new-password", :required => true%>
                    </div>
                     <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Confirmar senha</label>
                      <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password", :required => true %>
                    </div>

                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Senha atual</label>
                      <%= f.password_field :current_password, class:"form-control" %>
                    </div>
                  
                    <div class="actions mt-2">
                      <%= f.submit "Atualizar",  class: "btn btn-outline-dark"%>
                    </div>
                </div>

                <div class="btn btn-outline-dark m-3  ">
                  <%= link_to "Voltar", :back %>
                </div>
                <% end %>
                <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete, class:"btn btn-outline-dark m-3 mt-1" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  