<% comments.each do |comment| %>
<div class="container">
    <table class="table text-white bg-gradient-dark border-radius-lg mt-5 align-items-center fonts-L">
        <tr>
            <td>
                <p class="font-weight-bold mb-0"><%= comment.admin.email %></p>
            </td>
            <td>
                <p class="font-weight-bold mb-0"><%= comment.content %></p>
            </td>
            <td>
                <p class="font-weight-bold mb-0"><%= comment.created_at.strftime("%H:%M") %></p>
            </td>
        </tr>
    </table>
</div>
        <div class="container">
            <table class="table bg-gradient-light border-radius-lg align-items-center fonts-L">
            <tbody id="comment-list">
                <% comment.comments.each do |son|%>
                    <tr>
                        <td>
                            <%= son.admin.email %>
                        </td>
                        <td>
                            <%= son.content %>
                        </td>
                    </tr>   
                <% end %>
            </tbody>
        </table>
            <% if can? :create, Comment %>
                <div>
                    <%= form_with model: @comment_son, local: false, :html => {:id =>'' } do |form| %>
                        <div class="bg-gradient-light border-radius-lg fonts-L">
                            <div class="text-dark font-weight-bolder opacity-7 form-control">
                                <%= form.text_area :content, maxlength: 255, class: "bg-light form-control"%>
                                <%= form.hidden_field :post_id, :value => comment.post_id %>
                                <%= form.hidden_field :comment_id, :value => comment.id %>
                            </div>
                            <div>
                                <%= form.submit 'Responder', class: "btn btn-lg bg-gradient-dark fonts-L mt-4 mb-0" %>
                            </div>
                        </div>
                    <% end %>
                </div>
                <hr>
            <% end %>
        </div>
<% end %>

