<% comments.each do |comment| %>
<div class="container"> <%# Comentario pai %>
    <table class="table text-white bg-gradient-dark border-radius-lg mt-5 align-items-center fonts-L">
        <tr>
            <td>
                
                <p class="font-weight-bold mb-0 "><%= comment.admin.email %></p>
            </td>
            <td>
                <p class="font-weight-bold mb-0"><%= comment.content %></p>
            </td>
            <td>
                <p class="font-weight-bold mb-0"><%= comment.created_at.strftime("%H:%M") %></p>
            </td>
        </tr>
    </table>
</div>

        <div class="container"> <%# comentario filho %>
            <table class="table bg-gradient-light border-radius-lg align-items-center fonts-L">
            <tbody id="comment-list">
                <% comment.comments.each do |son|%>
                    <tr>
                        <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000" class="bi bi-person-fill " viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                            <%= son.admin.email %>
                        </td>
                        <td>
                            <%= son.content %></p>
                        </td>
                    </tr>   
                <% end %>
            </tbody>
        </table>
            <% if can? :create, Comment %> <%# area pra comentar do comentario filho%>
                <div>
                    <%= form_with model: @comment_son, local: false, :html => {:id =>'' } do |form| %>
                        <div class="bg-gradient-light border-radius-lg fonts-L">
                            <div class="text-dark font-weight-bolder opacity-7 form-control">
                                <%= form.text_area :content, maxlength: 255, class: "bg-light form-control p-2", placeholder: "Escreva seu Comentario..."%>
                                <%= form.hidden_field :post_id, :value => comment.post_id %>
                                <%= form.hidden_field :comment_id, :value => comment.id %>
                            </div>
                            <div>
                                <%= form.submit 'Responder', class: "btn btn-lg bg-gradient-dark fonts-L mt-4 mb-0" %>
                            </div>
                        </div>
                    <% end %>
                </div>
                <hr>
            <% end %>
        </div>
<% end %>

