<% comments.each do |comment| %>
<div class="container"> <%# Comentario pai %>
    <table class=" mt-2 table-responsive text-white bg-gradient-dark d-flex m-2 ps-0 border-radius-lg">
        <tr>
            <td>
                <p class="font-weight-bold  p-2 d-none d-md-block"><%= comment.admin.email %></p>
                <hr class="text-light d-none d-md-block" >
            </td>
            <hr class="text-light " style="width:50%;text-align:left;margin-left:0">
        </tr>
            <td>
                <p class="font-weight-bold mb-0 p-2 mb-2 "><%= comment.content %></p>
            </td>
    </table>
            <td>
                <p class="font-weight-bold mb-0 px-2"><%= comment.created_at.strftime("%H:%M") %></p>
            </td>
</div>
<div class="container"> <%# comentario filho %>
    <table class="mt-3 table-responsive d-flex ps-0 mb-2 border-radius-lg">
        <tbody id="comment-list">
            <% comment.comments.each do |son|%>
                <tr>
                    <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000" class="bi bi-person-fill " viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                        <%= son.admin.email %>
                    </td>
                    <td>
                        <p class="m-2 px-5"><%= son.content %></p>
                    </td>
                    <td>
                        <p class="font-weight-bold mb-0 px-2"><%= comment.created_at.strftime("%H:%M") %></p>
                    </td>
                </tr>   
            <% end %>
            <hr>
        </tbody>
    </table>
    <% if current_admin %> <%# area pra comentar do comentario filho%>
        <div>
            <%= form_with model: @comment_son, local: false, :html => {:id =>'' } do |form| %>
                <div class="bg-gradient-light border-radius-lg fonts-L">
                    <div class="text-dark font-weight-bolder opacity-7 form-control">
                        <%= form.text_area :content, maxlength: 255, class: "bg-light form-control p-2", placeholder: "Escreva seu Comentario..."%>
                        <%= form.hidden_field :post_id, :value => comment.post_id %>
                        <%= form.hidden_field :comment_id, :value => comment.id %>
                    </div>
                    <div>
                        <%= form.submit 'Responder', class: "text-white btn btn btn-outline-dark bg-gradient-dark font-weight-bold text-xs m-2 cursor" %>
                    </div>
                </div>
            <% end %>
        </div>
        <hr>
    <% end %>
</div>
<% end %>

