<% comments.each do |comment| %>
        <tr class="container">
            <td>
                <p class="font-weight-bold mb-0"><%= comment.admin_id %></p>
            </td>
            <td>
                <p class="font-weight-bold mb-0"><%= comment.content %></p>
            </td>
            <td>
                <p class="font-weight-bold mb-0"><%= comment.created_at.strftime("%H:%M") %></p>
            </td>
        </tr>
        <div>
            <% if can? :create, Comment %>
                <td>
                    <%= form_with model: @comment_son, local: false, :html => {:id =>'' } do |form| %>
                        <div class="bg-gradient-light border-radius-lg">
                            <td class="text-uppercase text-secondary font-weight-bolder opacity-7">
                                <%= form.text_area :content, maxlength: 255, class: "bg-light form-control"%>
                                <%= form.hidden_field :post_id, :value => comment.post_id %>
                                <%= form.hidden_field :comment_id, :value => comment.id %>
                            </td>
                            <td class="text-uppercase text-secondary font-weight-bolder opacity-7">
                                <%= form.submit 'Enviar', class: "btn btn-lg bg-gradient-dark btn-lg mt-4 mb-0" %>
                            </td>
                        </div>
                    <% end %>
                </td>
            <% end %>


        </div>
<% end %>

