
<div class="container-fluid ">
  <div class="container mt-2">
  <main role="main" class="text-lg">
    <div>
      <h1 class="jumbotron-heading text-dark fonts-L neon mb-5">BLOG</h1>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% @posts.each do |post| %>
              <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2 bg-gradient-light">
                  <!-- POST IMG -->
                    <div class="card-header shadow-dark border-radius-lg pe-1 page-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                          <%= image_tag post.image.variant(resize_to_fill: [381, 218]) %>
                    </div>
                  <!-- POST TXT -->
                    <div class="card-body text-dark container-fluid py-1 px-3"style="height:250px;">
                      <h6 class="card-text text-dark"><%= post.name %></h6>
                      <p class="card-text"><%= post.summary %>.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted fixd-bottom"><%= post.created_at %></small>
                        <div class="card-footer" :last-child>
                          <%= link_to "Ver", home_post_path(id: post.id), :class => 'btn btn-sm text-dark btn-outline-secondary' %>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            <% end %>
    </div>

  <div class="container">
    <p class="float-right text-end">
      <a class="text-white font-weight-bold btn btn-outline-light rounded-pill" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
      <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
    </svg></i></a>
    </p>
  </div>

  <footer class="bg-gradient-light text-center text-white text-muted rounded-top mt-10">
    <div class="container p-4 pb-0 text-lg">

      <section class="mb-4">
      
        <!-- Twitter -->
        <a class="btn btn-outline-dark btn-floating m-1 rounded-pill" href="#!" target="_blank" role="button"><i class="fab fa-twitter"></i></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-dark btn-floating m-1 rounded-pill" href="#!" target="_blank" role="button"><i class="fab fa-instagram"></i></a>
  
        <!-- Github -->
        <a class="btn btn-outline-dark btn-floating m-1 rounded-pill" href="https://github.com/LaraPedroso" target="_blank" role="button"><i class="fab fa-github"></i></a>
      </section>

    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);"> © 2021 Lara Pedroso </div>
  </footer>
  </body>