<div class="container mt-7">
    <div class="card fill mb-8 z-index-2 bg-gradient-light">
        <div class="card-header shadow-primary border-radius-lg page-header p-0 position-relative mt-n4 mx-7 z-index-2 bg-transparent" style="width:1010px; height:400px;">
            <%= image_tag @post.image.variant(saver: { quality: 10 }, resize_to_fill: [1010, 400]) %>
        </div>
        <div class="card-body container text-dark py-1 px-3">
            <div class="my-5" style="width: 95%; text-align: center;">
                <h2 class="card-text text-dark my-3"><%= @post.name%></h2>
            </div>
            <div class="container px-8 mb-7">
                <p class="card-text" style="font-size: 15px;"><%= @post.content %>.</p>
            </div>
        </div>
            <table class="table bg-gradient-light border-radius-lg align-items-center mb-8">
                <% if admin_signed_in?%>
                    <thead>
                        <%= form_with model: @comment do |form| %>
                            <tr>
                                <th class="text-uppercase text-secondary font-weight-bolder opacity-7">
                                    <%= form.text_area :content, maxlength: 255, class: "bg-light form-control"%>
                                    <%= form.submit 'Salvar', class: "btn btn-lg bg-gradient-primary btn-lg mt-4 mb-0" %>
                                    <%= form.hidden_field :post_id, :value => @post.id %>
                                </th>
                            </tr>
                        <% end %>
                    </thead>
                <% end %>
                <tbody>
                    <% @comments.each do |comment| %>
                        <tr class="container">
                        <td>
                            <p class="font-weight-bold mb-0"><%= comment.content %></p>
                        </td>
                        <td>
                            <p class="font-weight-bold mb-0"><%= comment.created_at %></p>
                        </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <div>
                <%= link_to 'Voltar', root_path, class: "btn btn-outline-dark font-weight-bold" %>
            </div>
        </div>
    </div>
</div>