<div class="container ">
    <div class="row">
        <div class="col-12">
            <div class="card my-2 px-3 border-5">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class=" shadow-dark border-radius-lg pt-4 pb-3 border border-dark border-2">
                    <div class="container ">
                    <h2 class="text-dark ps-3 fonts-L">Posts</h2>
                    <%= link_to new_post_path, class: "btn btn-outline-dark" do %>
                        novo
                        <i class="fas fa-plus"></i>
                    <% end %>
                    </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="fonts-L ">Nome</th>
                                <th class="fonts-L ">Imagem</th>
                                <th class="text-center"> 
                                <i class="fas fa-star fa-1x red"></i>
                                <i class="fas fa-star fa-1x orange"></i>
                                <i class="fas fa-star fa-1x yellow"></i>
                                </th>
                                
                            </tr>
                            </thead>
                            <tbody>
                        <% @posts.each do |post| %>
                                <tr class="container">
                                    <td>
                                    <p class="fonts-L"><%= post.name %></p>
                                    </td>
                                    <td>
                                        <%= image_tag post.image.variant(resize_to_limit: [100, 100]), class:"img-fluid"%>
                                    </td>
                                    <td class="text-center">
                                    <%= number_with_precision(post.media, precision: 1) %>
                                    </td>
                                    <td class="align-middle mx-3">
                                    <%= link_to 'Editar', edit_post_path(id: post.id), class: "btn btn-sm text-secondary font-weight-bold" %>
                                    <%= link_to 'Deletar', post_path(id: post.id), method: :destroy, data: { confirm: "Tem certeza?" }, class: "text-white btn btn btn-outline-dark bg-gradient-dark font-weight-bold" %>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>