
<div class=" bg-light container">
    <%= form_with model: @category do |form| %>
        <div class="input-group input-group-outline mb-5 w-80 mx-3">
            <label class="mx-3" >Name</label>
            <%= form.text_field :name, maxlength: 15, class: "rounded border-dark form-control" %>
        </div>
        <div class="input-group input-group-outline mb-5 mx-3 w-80 ">
            <label class="mx-3"> Descrição </label>
            <%= form.text_area :description, maxlength: 255, class: "form-control p-3 mb-2 rounded border-dark", size: "60x10" %>
        </div>
        <div class="text-center">
            <%= form.submit 'Salvar', class: "btn btn-lg border-dark corpo L-black cursor w-30 mt-4  mb-1" %> <br>
            <%= link_to 'Cancelar', categories_path, class: "btn btn-lg border-dark corpo L-black cursor w-30 mt-2 mb-5 " %>
        </div>
    <% end %>
</div>