<h2>Mudar senha</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :Senha, "Nova senha" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :Confirmar_senha, "Confirma nova senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Mudar senha", class: "btn btn-outline-dark mt-4 m-3"%>
  </div>
<% end %>

<%= render "admins/shared/links" %>
